<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <div class="container">
    <%= render 'layouts/navbar' %>
    <%= yield %>
    </div>
  </body>
</html>
